.container {
    width: 80%;
}

.icons {
    color: #8A837B;
    font-size: 1.8rem;
    line-height: 4rem;
}

.float-right {
    float: right;
}

.mg-right {
    margin-right: 20px;
}

.bg-white {
    background-color: #FEFEFE;
}

.pd-inbox {
    padding: 10px 15px;
}

.border-top {
    border-top: 1px solid #CDCDCD;
}

.time {
    margin-top: -35px;
}
